{% extends 'base.html' %}

{% block heading %}


<!-- To show messages -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            
            </div>
        {% endfor %}
    {% endif %}

<!-- to display items after input -->

{% if all_items %}
    <table class = "table table-bordered">
    {% for things in all_items %}
        <tr>
            <td>created on <h6> {{things.datepublished}}</h6></td>
            <td style = "word-break: break-all">{{ things.item}}</td>
            <td><center>get/complete it by<h6>{{ things.date }}<h6></center></td>
            <td><center><a style = 'color:red' href="{% url 'delete' things.id %}">Delete</center></td>
        </tr>
    </div>
    {% endfor %}
    </table>
{% endif %}


{% endblock %}
